<tr>
  <td>
    <%= image_tag item.image.tiny %>
  </td>
  <td>
    <h4><%= item.name %></h4>
    <br>
    <p><%= item.description %></p>
  </td>
  <td>
    <%= item.category.name %>
  </td>
  <td>
    <%= item.price %>
  </td>
  <td>
    <%= item.quantity %>
  </td>
  
</tr>